%h1 Orders
.mb-3
  = button_to 'Cooking order', kitchen_orders_path, class: 'btn btn-secondary'
- @orders.includes(:dishes).each do |order|
  .card.mb-5
    .card-body
      = "Order №#{order.id}. Created at #{order.created_at.strftime('%d/%m/%Y %H:%M')}"
      %ul
        - order.dishes.each do |dish|
          %li
            = dish.name